<div class="accordion">
    <div class="tab">
        <input id="tab-one" type="checkbox" name="tabs">
        <label for="tab-one">
            <h5>Можно ли простудиться от кондиционера? И как этого избежать?</h5>
            <img src="imgs/arrow.svg">
        </label>
        <div class="tab-content">
            <p>Простудиться при пользовании кондиционером действительно можно, но этого легко избежать, если
                следовать простым правилам эксплуатации кондиционера. Во-первых, не нужно направлять
                воздушный поток на человека – с помощью управления горизонтальными и вертикальными жалюзи, а
                также правильного выбора первоначальной установки кондиционера.</p>
            <p>Во-вторых, разница температур внутри охлаждаемого помещения и снаружи не должна превышать 10
                градусов, в идеале 5-7 градусов.</p>
            <p> В-третьих, надо понимать, что любой кондиционер осушает воздух, а низкая влажность воздуха в
                помещении – это потенциальная опасность заболевания для человеческого организма. Здесь на
                помощь приходят увлажнители воздуха.</p>
            <p> И последнее, что хотелось бы отметить, нерегулярное техобслуживание кондиционера приводит к
                распространению вредоносных бактерий, появлению плесени, загрязнению фильтров –
                осуществляйте чистку как внутреннего, так и наружного блоков сплит-системы хотя бы раз в
                год.</p>
        </div>
    </div>
</div>