<div class="content">
    <div class="slider slider-for">
        <div class="slide_preview">
            <img src="imgs/img1.png">
        </div>
        <div class="slide_preview">
            <img src="imgs/img2.png">
        </div>
        <div class="slide_preview">
            <img src="imgs/img3.png">
        </div>
        <div class="slide_preview">
            <img src="imgs/img4.png">
        </div>
        <div class="slide_preview">
            <img src="imgs/img5.png">
        </div>
        <div class="slide_preview">
            <img src="imgs/img5.png">
        </div>
        <div class="slide_preview">
            <img src="imgs/img5.png">
        </div>
    </div>
    <div class="slider slider-nav">
        <div>
            <img src="imgs/preview1.png">
        </div>
        <div>
            <img src="imgs/preview2.png">
        </div>
        <div>
            <img src="imgs/preview3.png">
        </div>
        <div>
            <img src="imgs/preview4.png">
        </div>
        <div>
            <img src="imgs/preview5.png">
        </div>
        <div>
            <img src="imgs/preview5.png">
        </div>
        <div>
            <img src="imgs/preview5.png">
        </div>
    </div>
</div>