@font-face {
  font-family: "SuisseIntl";
  src: url("fonts/SuisseIntl-Regular-WebS.woff2") format("woff2"),
    url("fonts/SuisseIntl-Regular-WebS.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@import url(https://db.onlinewebfonts.com/c/c446362802681bacaacbad0f39bfc1a5?family=SuisseIntl-Medium);

$base-color: #1a1a1a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

h3,
h5 {
  color: $base-color;
  font-family: "SuisseIntl-Medium", sans-serif;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  line-height: 28.8px;
  max-width: 867px;
}

h5 {
  font-size: 15px;
  line-height: 18px;
}

.wrapper {
  font-family: "SuisseIntl", sans-serif;
  display: flex;
  max-width: 1440px;
  padding: 64px 40px;
  margin: 0 auto;
  gap: 60px;
}

.content {
  max-width: 433px;
}

.block__desc {
  display: flex;
  column-gap: 60px;
  max-width: 867px;
}
.accordion {
  margin-top: 32px;
}

.properties {
  max-width: 404px;
  font-size: 12px;
  line-height: 19.2px;
}
.properties h5 {
  margin-bottom: 10px;
}
.properties p {
  overflow: hidden;
}
.properties p:not(:last-child) {
  margin-bottom: 5px;
}
.properties p:after {
  content: "..............................................................................................................";
  display: block;
  white-space: nowrap;
  overflow: hidden;
  color: #6c7684;
}
.properties p span:first-of-type {
  float: left;
  margin-right: 10px;
  color: #6c7684;
}
.properties p span:last-of-type {
  float: right;
  margin-left: 10px;
}

.block__info {
  display: flex;
  flex-direction: column;
  column-gap: 60px;
}

.block__price {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.block__price {
  width: 403px;
}

.price {
  width: 100%;
  box-shadow: 0px 4px 30px 0px #00000026;
  padding: 30px;
  border-radius: 16px;
  font-size: 32px;
  font-weight: 500;
  line-height: 38.4px;
  text-align: left;
  color: #1a1a1a;
}
.price__btn img {
  width: 92px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.price__btn-box {
  margin-left: 106px;
}
.price__btn-box h5 {
  margin-bottom: 4px;
}
.price__btn {
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  padding: 24px 16px;
  background: #e7f2ff;
  border-radius: 16px;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s;
}
.price__btn:hover {
  background: #aad2ff;
}

.price__btn p {
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
}
.arrow {
  width: 24px;
  height: 24px;
}

// form
.form {
  display: flex;
  flex-direction: column;
  max-width: 690px;
}

.form__input {
  padding: 12.5px 15px;
  background: #f4f4f8;
  border-radius: 5px;
  border: 1px solid #e6e6ef;
  min-width: 300px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
}
.form__input-box {
  display: flex;
  flex-direction: column;
}
.form__input-box label {
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  margin-bottom: 5px;
}
.form__input-box label sup {
  color: #ef6461;
}
.form__input:focus {
  border: 1.5px solid #1a1a1a;
  background: #fff;
  outline: none;
  border-color: #1a1a1a;
}

.form__btn {
  padding: 14px 132px 16px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  background: #5ea9ff;
  margin-top: 15px;
  transition: 0.2s;
  display: flex;
  justify-content: center;
}
.form__btn:hover {
  background: #aad2ff;
}
.form__btn:disabled {
  background: #e6e6ef;
}

// modal
.fancybox-is-open .fancybox-bg {
  opacity: 0.25 !important;
}
.modal_header {
  background: #e7f2ff;
  display: flex;
}
.modal_header h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 38.4px;
  max-width: 275px;
  margin-right: 55px;
  margin-top: 93px;
}
.modal__info {
  display: flex;
  flex-direction: column;
  padding: 30px 0 30px 30px;
}
.modal__info img {
  width: 100%;
  max-width: 114px;
}
.modal_header h2 span {
  color: #5ea9ff;
}
.modal__success {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.fancybox-content {
  width: 79% !important;
  max-width: 690px !important;
  font-family: "SuisseIntl", sans-serif;
  padding: 0 !important;
  border-radius: 16px;
}
.form__box {
  padding: 30px;
  color: #6c7684;
}
.form__box-info {
  font-size: 14px;
  line-height: 22.4px;
}
.form__box-police {
  font-size: 12px;
  line-height: 19.2px;
  text-align: center;
}
.form__box-police a {
  text-decoration: none;
  color: #5ea9ff;
  opacity: 0.8;
}
.form {
  margin: 25px 0 15px;
}
input::placeholder {
  color: #6c7684;
  font-family: "SuisseIntl-Medium", sans-serif;
}

.just-validate-error-label {
  font-size: 10px !important;
  line-height: 16px;
  margin-top: -10px;
}

// slick
.slick-dots {
  display: none !important;
}

.slide_preview {
  display: flex;
  justify-content: center;
}
.slick-slide img {
  max-width: 50px;
}

.slider-for .slick-slide img {
  width: 433px;
  width: 100%;
  max-width: 433px;
  margin-bottom: 24px;
  border-radius: 16px;
}
.slider-nav .slick-slide {
  width: 63.8px;
}
// svg
.icons__icon {
  max-width: 108px;
  display: flex;
  align-items: center;
  margin: 16px 0 32px;
  cursor: default;
}
.icons__icon svg.icon {
  width: 24px;
  height: 24px;
  fill: transparent;
  stroke: #6c7684;
  transition: 0.2s;
}
.icons__icon span {
  color: #6c7684;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
  transition: 0.2s;
}
.icons__icon:hover svg.icon {
  fill: transparent;
  stroke: #1a1a1a;
}
.icons__icon:hover span {
  color: #1a1a1a;
}

.hidden {
  display: none;
}

.active.icons__icon svg.icon {
  fill: #5ea9ff;
  stroke: #5ea9ff;
}
.active.icons__icon span {
  color: #5ea9ff;
}
// Accordion
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  overflow: hidden;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  padding: 20px;
  border: 1px solid #eeeeee;
  cursor: pointer;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s;
}
.modal__success h2 {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 500;
  line-height: 38.4px;
}
.modal__success p {
  font-size: 14px;
  line-height: 22.4px;
  text-align: center;
}
.modal__success button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.modal__success button span {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}
.custom_btn {
  width: 250px !important;
  line-height: 48px;
  color: #fff !important;
  background: #5ea9ff !important;
  transition: 0.2s !important;
  margin-top: 30px !important;
  border-radius: 5px;
}
.custom_btn:hover {
  background: #aad2ff;
}
.tab-content p {
  font-size: 14px;
  line-height: 22.4px;
}
.tab-content p:not(:last-child) {
  margin-bottom: 20px;
}
.hidden_success img {
  max-width: 253px;
  margin-bottom: 30px;
}
.tab input:checked ~ .tab-content {
  max-height: 100vh;
  border: 1px solid #eeeeee;
  border-top: none;
  transition: 0.2s;
}
.tab input:checked ~ label {
  border-bottom: none;
}
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  transition: all 0.2s;
}
.tab input[type="checkbox"]:checked {
  border-bottom: none;
}
.tab input[type="checkbox"]:checked + label img {
  transform: rotate(180deg);
}
.tab input[type="checkbox"]:checked .tab label {
  border-bottom: none;
}
.tab input[type="checkbox"]:checked ~ .tab-content p {
  padding: 0 20px;
}
.tab input[type="checkbox"]:checked ~ .tab-content p:last-child {
  padding-bottom: 20px;
}

@media only screen and (max-width: 1370px) {
  .block__price {
    width: 350px;
  }
  .price__btn {
    padding: 14.5px 10px;
  }
  .price__btn p {
    max-width: 166px;
  }
  .properties {
    max-width: 350px;
  }
  .slider-for .slick-slide img {
    width: 380px;
    width: 100%;
  }
  .block__desc,
  h3 {
    max-width: 760px;
  }
  .slider-nav .slick-slide {
    width: 55px;
  }
}

@media only screen and (max-width: 1325px) {
  .properties {
    max-width: 313px;
  }
  .block__desc,
  .wrapper {
    gap: 30px;
  }
  .content {
    max-width: 380px;
  }
  .block__price {
    min-width: 200px;
    width: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  .block__desc {
    flex-direction: column;
  }

  .block__price {
    max-width: 375px;
  }
}

@media only screen and (max-width: 820px) {
  .slider-for .slick-slide img {
    width: 345px;
    width: 100%;
  }
  .wrapper {
    flex-direction: column;
    padding: 64px 15px;
  }
}
@media only screen and (max-width: 820px) {
  .slick-slider .slick-list {
    overflow-x: scroll;
  }
  .slick-slider .slick-list::-webkit-scrollbar {
    width: 0;
  }
  .slick-slider .slick-list {
    -ms-overflow-style: none;
  }
}
@media only screen and (max-width: 560px) {
  .slider-for .slick-slide img {
    margin-bottom: 0;
  }
  h3 {
    font-size: 15px;
    line-height: 18px;
    max-width: 290px;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0 !important;
  }
  .icons__icon {
    margin: 24px 0;
  }
  .price {
    padding: 24px;
  }
  .properties {
    display: none;
  }
  .price__btn {
    padding: 16px;
  }
  .accordion {
    margin-top: 24px;
  }
  .modal_header {
    flex-direction: column-reverse;
  }
  .modal__info {
    background: #fff;
  }
  .modal__desc {
    max-width: 146px;
    margin: 0 auto;
  }
  .logo {
    display: none;
  }
  .modal_header h2 {
    margin-right: 0;
    margin-top: 0;
  }
  .modal__info {
    padding: 30px 15px 15px 15px;
  }
  .form__box {
    padding: 0 15px 100px 15px;
  }
  .modal_header h2 {
    font-size: 24px;
    line-height: 28.8px;
  }
  .modal__success h2 {
    font-size: 24px;
    line-height: 28.8px;
  }
}
